body {
    margin: 0;
}
.header {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    padding: 0 47px;
}
.header-wrapper {
    display: flex;
    width: 980px;
    height: 81px;
    margin: 0 auto;
}
.logo-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 170px;
    height: 34px;
}
.login-form {
    flex: 0 0 40%;
    display: flex;  
}
.login-form label {
    color: #fff;
    font-size: 14px;
}
.email-phone-wrapper {
    flex: 0 0 150px;
    height: 100%;
    margin-right: 16px;
    margin-top: 4px;
}
.email-phone-wrapper input {
    width: 100%;
    outline: none;
}
.password-wrapper {
    flex: 0 0 150px;
    height: 100%;
    margin-right: 16px;
    margin-top: 4px;
}
.password-wrapper input {
    width: 100%;
    outline: none;
}
.forgot-password {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.login-form .button-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.login {
    padding: 3px 8px;
    background-color: #4267b2;
    border-color: #29487d;
    /* margin-top: -10px; */
}
.content-wrapper {
    display: flex;
    margin: 0 auto;
    width: 980px;
}
.content-left {
    flex: 1;
}
.content-left h2 {
    width: 450px;
    padding: 42px 0 24px;
}
.list-wrapper {
    list-style: none;
    padding: 0;
}
.list-item {
    display: flex;
    padding: 14px 0;
}
.icon-update, .icon-share, .icon-more {
    display: inline-block;
    height: 56px;
    flex: 0 0 56px;
    margin-right: 16px;
    background-size: 100% 100%;
}
.icon-update {
    background-image: url(../images/update.png);
}
.icon-share {
    background-image: url(../images/share.png);
}
.icon-more {
    background-image: url(../images/more.png);
}
.content-right {
    flex: 1;
}
.content-right h1 {
    height: 36px;
    font-size: 36px;
    padding: 0;
    margin: 16px 0;
}
.name-wrapper {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
.first-name, .last-name {
    flex: 1;
    height: 32px;
    border: 1px solid #bdc7d8;
    border-radius: 3px;
    outline: none;
    text-indent: 4px;
    padding: 0 8px;
}
.first-name {
    margin-right: 4px;
}
.last-name {
    margin-left: 4px;
}
.number-email, .new-password {
    width: 100%;
    height: 32px;
    border: 1px solid #bdc7d8;
    border-radius: 3px;
    outline: none;
    margin: 8px 0;
    text-indent: 4px;
}
.input-title {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
}
.birthday-wrapper {
    margin: 8px 0;
}
.birthday-wrapper select {
    height: 26px;
    width: 63px;
}
.tips-wrapper {
    color: #777;
    font-size: 11px;
    width: 316px;
}
.tips-wrapper a {
    text-decoration: none;
    color: #385898;
}
.content-right .button-wrapper {
    padding: 8px 0;
    border-bottom: 1px solid #bdc7d8;
}
.sign-up {
    min-width: 194px;
    padding: 7px 20px;
    margin: 8px 0;
    text-align: center;
    font-size: 19px;
    border-radius: 4px;
    color: #fff;
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
.create-page a {
    text-decoration: none;
    color: #385898;
}
.footer {
    width: 980px;
    margin: 86px auto;
}
.footer a {
    text-decoration: none;
    color: #385898;
    margin-right: 16px;
}
.language-wrapper {
    padding: 8px 0;
    border-bottom: 1px solid #bdc7d8;
}
.links-wrapper {
    padding: 8px 0;
}
.copyright {
    font-size: 11px;
    color: #737373;
    margin: 0 auto;
    width: 980px;
}
